<!DOCTYPE html>
<html>
    <head>
        <title>Stephanie's blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Stephanie's Blog</a></h1>
        </header>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">My first post</a></h2>
            <p>My name is Stephanie and I am a Software Development student.</p>
        </article>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">My second post</a></h2>
            <p>I just made my first Django Project!</p>
        </article>
    </body>
</html>